*{
    margin:0;
    padding: 0;
}

.widget-container {
    width: 1200px;
    border-bottom: 2px solid white;
    justify-items: center;
    width: 1067px;
    
}

.weatherwidget-io{
    border-bottom: 2px solid white;
}

